/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */                       
/* ..........................................*/                                    
/* .......Crystal Clear....................... */                                  
/* ......................................... */                                    
/* --- 👍 designed by https://github.com/Krautt  👍 --- */                         
                                                                                   
*{                                                                                 
	font-family: "JetBrains Mono Nerd Font";                                         
	font-weight: bold;                                                               
	min-height: 0;	                                                                 
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */        
	font-size: 97%;                                                                  
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"'; 
	padding: 1px;                                                                    
}                                                                                  
	                                                                                 
window#waybar {                                                                    
	background:transparent;                                                          
	border-radius: 1px;                                                              
	color: whitesmoke;                                                               
}                                                                                  
	                                                                                 
window#waybar.hidden {                                                             
	opacity: 0.5;                                                                    
}                                                                                  
window#waybar.empty {                                                              
	background-color: transparent;                                                   
}                                                                                  
	                                                                                 
window#waybar.empty #window {                                                      
   padding: 0px;                                                                   
   border: 0px;                                                                    
   background-color: transparent;                                                  
}                                                                                  
	                                                                                 
tooltip {                                                                          
	background: #1e1e2e;                                                             
	border-radius: 10px;                                                             
	border-width: 2px;                                                               
	border-style: solid;                                                             
	border-color: #11111b;                                                           
	color: #cba6f7;                                                                  
}                                                                                  
                                                                                   
/*-----module groups----*/                                                         
.modules-right {                                                                   
	                                                                                 
}                                                                                  
                                                                                   
.modules-center {                                                                  
		                                                                               
}                                                                                  
                                                                                   
.modules-left {                                                                    
	                                                                                 
}                                                                                  
                                                                                   
#workspaces button {                                                               
	color: #6E6A86;                                                                  
   	box-shadow: none;                                                              
	text-shadow: none;                                                               
   	padding: 0px;                                                                  
   	border-radius: 9px;                                                            
   	padding-left: 4px;                                                             
   	padding-right: 4px;                                                            
   	animation: gradient_f 20s ease-in infinite;                                    
   	transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);                        
}                                                                                  
                                                                                   
#workspaces button.active {                                                        
	color: whitesmoke;                                                               
   	border-radius: 15px 15px 15px 15px;                                            
   	padding-left: 8px;                                                             
   	padding-right: 8px;                                                            
   	animation: gradient_f 20s ease-in infinite;                                    
   	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);                        
}                                                                                  
                                                                                   
#workspaces button.focused {                                                       
	color: #d8dee9;                                                                  
}                                                                                  
                                                                                   
#workspaces button.urgent {                                                        
	color: #11111b;                                                                  
	border-radius: 10px;                                                             
}                                                                                  
	                                                                                 
#workspaces button:hover {                                                         
	color: whitesmoke;                                                               
    border-radius: 15px;                                                           
 	padding-left: 2px;                                                               
    padding-right: 2px;                                                            
    animation: gradient_f 20s ease-in infinite;                                    
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);                        
}                                                                                  
	                                                                                 
#backlight,                                                                        
#battery,                                                                          
#bluetooth,                                                                        
#clock,                                                                            
#cpu,                                                                              
#disk,                                                                             
#idle_inhibitor,                                                                   
#keyboard-state,                                                                   
#memory,                                                                           
#mode,                                                                             
#mpris,                                                                            
#network,                                                                          
#pulseaudio,                                                                       
#taskbar,                                                                          
#temperature,                                                                      
#tray,                                                                             
#window,                                                                           
#wireplumber,                                                                      
#workspaces,                                                                       
#custom-cycle_wall,                                                                
#custom-keybinds,                                                                  
#custom-keyboard,                                                                  
#custom-light_dark,                                                                
#custom-lock,                                                                      
#custom-menu,                                                                      
#custom-power_vertical,                                                            
#custom-power,                                                                     
#custom-swaync,                                                                    
#custom-spotify,                                                                   
#custom-updater,                                                                   
#custom-weather,                                                                   
#custom-weather.clearNight,                                                        
#custom-weather.cloudyFoggyDay,                                                    
#custom-weather.cloudyFoggyNight,                                                  
#custom-weather.default                                                            
#custom-weather.rainyDay,                                                          
#custom-weather.rainyNight,                                                        
#custom-weather.severe,                                                            
#custom-weather.showyIcyDay,                                                       
#custom-weather.snowyIcyNight,                                                     
#custom-weather.sunnyDay {                                                         
	padding-top: 3px;                                                                
	padding-bottom: 3px;                                                             
	padding-right: 6px;                                                              
	padding-left: 6px;                                                               
}                                                                                  
	                                                                                 
#temperature.critical {                                                            
	background-color: #ff0000;                                                       
}                                                                                  
                                                                                   
@keyframes blink {                                                                 
	to {                                                                             
	color: #000000;                                                                  
	   }                                                                             
}                                                                                  
#taskbar button:hover {                                                            
    padding-left: 3px;                                                             
    padding-right: 3px;                                                            
    animation: gradient_f 20s ease-in infinite;                                    
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);                        
}                                                                                  
                                                                                   
#taskbar button.active {                                                           
	background-color: #7f849c;                                                       
    padding-left: 12px;                                                            
    padding-right: 12px;                                                           
    animation: gradient_f 20s ease-in infinite;                                    
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);                        
}                                                                                  
	                                                                                 
#battery.critical:not(.charging) {                                                 
	color: #f53c3c;                                                                  
	animation-name: blink;                                                           
	animation-duration: 0.5s;                                                        
	animation-timing-function: linear;                                               
	animation-iteration-count: infinite;                                             
	animation-direction: alternate;                                                  
}                                                                                  
                                                                                   
#pulseaudio-slider slider {                                                        
	min-width: 0px;                                                                  
	min-height: 0px;                                                                 
	opacity: 0;                                                                      
	background-image: none;                                                          
	border: none;                                                                    
	box-shadow: none;                                                                
}                                                                                  
                                                                                   
#pulseaudio-slider trough {                                                        
	min-width: 80px;                                                                 
	min-height: 10px;                                                                
	border-radius: 5px;                                                              
	background-color: black;                                                         
}                                                                                  
                                                                                   
#pulseaudio-slider highlight {                                                     
	min-height: 10px;                                                                
	border-radius: 5px;                                                              
	background-color: wheat;                                                         
}                                                                                  
                                                                                   
#backlight-slider slider {                                                         
	min-width: 0px;                                                                  
	min-height: 0px;                                                                 
	opacity: 0;                                                                      
	background-image: none;                                                          
	border: none;                                                                    
	box-shadow: none;                                                                
}                                                                                  
                                                                                   
#backlight-slider trough {                                                         
	min-width: 80px;                                                                 
	min-height: 10px;                                                                
	border-radius: 5px;                                                              
	background-color: black;                                                         
}                                                                                  
                                                                                   
#backlight-slider highlight {                                                      
	min-width: 10px;                                                                 
	border-radius: 5px;                                                              
	background-color: wheat;                                                         
}                                                                                  
	                                                                                 
	                                                                                 
